{% extends '/base.html.twig' %}

{% block title %} {{ inventaire.libelle|upper }} {{ inventaire.traitePar|upper }} {% endblock %}

{% block body %}
    <div class = "container-fluid"> 
        
        <div class="row my-5 mx-1 justify-content-lg-between">

            <a href="{{ path('home') }}">
                <button class="btn btn-primary my-2 float-right mr-2" type="button">
                Inventaire
                </button>
            </a>
            <a href="{{ path('product',{'slug': inventaire.slug,'id': inventaire.id}) }}">
                <button class="btn btn-primary my-2 float-right" type="button">
                Ajouter un produit
                </button>
            </a>
            
        </div>
    </div>
    <div class="container-fluid my-5 p-3 ">
    <table id="tab" class="table table-bordered ">
            <thead>
                <tr>
                <th class="col-2"></th>
                    <th class="col-8"><h1>{{ inventaire.libelle|upper }} {{ inventaire.traitePar|upper }}</h1></th>
                <th class="col-2"></th>
                </tr>
                <tr>
                    <th class="col-2">Ref</th>
                    <th class="col-6">Produit</th>
                    <th class="col-2">Couleur</th>
                    <th class="col-1">Qte</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
             <tbody>
             {% for product in inventaire.products %}
                <tr>
                    <td>{{product.ref}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.color}}</td>
                    <td>{{product.qte}}</td>
                    <td>
                        <a href="{{ path('removeProduct',{'slug': inventaire.slug,'id': product.id}) }}"
                            onclick="return confirm ('voulez vous vraiment supprimer le produit ? ')">
                                <button class="btn pr-0 btnmdsup delete"><i class="far fa-trash-alt"></i></button>
                        </a>
                    </td>
                </tr>
             {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
            </table>
            <button class="btn btn-success" onclick="exportTableToExcel('tab', 'inventaire')">Exporter tableau en Excel</button>
  </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
    </script>
{% endblock %}

