{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Accueil{% endblock %}
=======
        <script>
           function bip() {
               var bip= new Audio();
                   bip.src="/song/bip.wav";
                   bip.play();
           }
           navigator.mediaDevices.getUserMedia({video: true}) 
           let scanner = new Instascan.Scanner({ video: document.getElementById('preview')});
           Instascan.Camera.getCameras().then(function(cameras){
               if(cameras.length > 0 ){
                   alert(cameras.length);
                   scanner.start(cameras[cameras.length - 1]);
               } else{
                   alert('No cameras found');
               }
>>>>>>> 03841762e12e34009f9e2245ed077c00a14bc182

{% block body %}
  <div class="row">
    <div class="col-12 my-5 text-center">
        <h1>INVENTAIRE<h1>
    </div>
    <div class="col-12">
      <a href="{{ path('addInventaire')}}">
        <button class="btn btn-primary my-2 float-right" type="button">
          Ajouter un inventaire
        </button>
      </a>
    </div>
  </div>
  <div class="container-fluid my-5 p-3 border border-dark rounded">
    <div class="row border-bottom m-2 border-dark">
      <div class="col-8">
        <h5>Libellé</h5>
      </div>
      <div class="col-2">
        <h5>Traité par</h5>
      </div>

      <div class="col-2">
      </div>
    </div>   
    {% for inventaire in inventaires %}
      <div class="row border-bottom m-2 border-dark">
        <div class="col-8 align-items-center d-flex">
          <a href="{{ path('inventaire',{'slug': inventaire.slug}) }}">{{inventaire.libelle |upper }}</a>
        </div>
        <div class="col-2 align-items-center d-flex">
          <span>{{inventaire.traitePar |upper }}</span>
        </div>

<<<<<<< HEAD
        <div class="col-2">
          <div class="float-right">
            
            <a href="{{ path('removeInventaire',{'id': inventaire.id}) }}"
              onclick="return confirm ('voulez vous vraiment supprimer l\'inventaire ? ')">
                <button class="btn pr-0 btnmdsup delete"><i class="far fa-trash-alt"></i></button>
            </a>
          </div>
        </div>
      </div> 
    {% endfor %}
  </div>
{% endblock %}
=======
        </script>
    </body>
</html>
>>>>>>> 03841762e12e34009f9e2245ed077c00a14bc182
